/* reset */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

html {
  padding: 10px;
  font-family: helvetica, sans-serif;
}

body {
  border-left: 1px solid;
  padding-left: 10px;
}

/* spacing large */
h1, h2, nav, p {
  margin-bottom: 20px;
}
/* spacing small */
nav a:not(:last-child) {
  margin-bottom: 10px;
}

h1, .gloss {
  letter-spacing: 5px;
}
h1 a, h1 a:visited {
  color: black;
  text-decoration: none;
}

h2, nav + p {
  margin-top: 40px;
}

h2 span {
  font-weight: 400;
}

nav a {
  display: block;
}

p {
  margin-left: 20px;
  max-width: 500px;
  line-height: 20px;
}
.line + .line {
  margin-top: -20px;
}

.ital, a.current {
  font-style: italic
}

a:visited {
  color: blue;
}

.gloss {
  margin-right: -3px;
}